.nav-bar {
    -fx-background-color: #e8e4dd;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 1px 0 1px 0;
}

.nav-container {
    -fx-padding: 20px 0;
    -fx-spacing: 10px;
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #554e49;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 15px 25px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.nav-btn:hover {
    -fx-background-color: rgba(12, 12, 12, 0.05);
}

.nav-btn .graphic-container {
    -fx-padding: 0 20px 0 0;
}