.settings-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-vbar-policy: always;
    -fx-pannable: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settings-view .viewport {
    -fx-background-color: transparent;
}

.settings-view .content {
    -fx-background-color: transparent;
    -fx-padding: 20px;
}

.settings-content {
    -fx-spacing: 15px;
}

.settings-header {
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-font-family: "Roboto Thin";
}

.option-box {
    -fx-background-color: #e8e4dd;
    -fx-padding: 10px 14px 10px 100px;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 1px 0 1px 0;
}

.option-header {
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-font-family: Calibri;
}

.combo-box {
    -fx-background-color: linear-gradient(to right, #ece9e3, #f3efe9, #ece9e3);
    -fx-background-radius: 5;
    -fx-border-color: #b0b0b0;
    -fx-border-radius: 5;
    -fx-padding: 4;
    -fx-font-size: 12px;
    -fx-font-family: "System";
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-padding: 4px;
}

.header-box {
    -fx-padding: 30px;
}

.settings-save-button {
    -fx-background-color: rgba(0, 0, 0, 0.73);
    -fx-text-fill: #ece9e3;
    -fx-background-radius: 5px;
    -fx-font-family: Carlito;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
}

.settings-save-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.93);
    -fx-cursor: hand;
}