.side-bar {
    -fx-background-color: #ece9e3;
}

.profile-bar {
    -fx-background-color: #e8e4dd;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 0px 0 0px 1px;
}

.profile-btn {
    -fx-background-color: #151515;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-padding: 5px 9px;
    -fx-cursor: hand;
}

.profile-username {
    -fx-font-family: "Roboto Thin";
    -fx-font-weight: 700;
    -fx-font-size: 15px;
}

.profile-status {
    -fx-text-fill: green;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: 600;
    -fx-font-size: 13px;
}

.friends-list {
    -fx-background-color: #ece9e3;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 0px 0 0px 1px;
}

.friend-card {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 1px 0 1px 0;
    -fx-spacing: 5px;
    -fx-alignment: center;
    -fx-padding: 4px;
}