.menu-bar {
    -fx-background-color: #d5d5d5;
    -fx-padding: 3px 6px;
    -fx-spacing: 10px;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 0 0 1px 0;
}

.menu-bar .container {
    -fx-background-color: transparent;
    -fx-spacing: 8px;
}

.menu-bar .menu {
    -fx-background-color: transparent;
    -fx-padding: 6px 10px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-weight: 500;
    -fx-cursor: hand;
}

.menu-bar .menu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.51);
    -fx-background-radius: 4px;
}

.menu-bar .menu:showing {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
}

.menu-bar .menu .label {
    -fx-text-fill: #292929;
}

.menu-bar .menu:hover .label,
.menu-bar .menu:showing .label {
    -fx-text-fill: #151515;
}

.window-btn {
    -fx-background-color: transparent;
    -fx-border-color: #444;
    -fx-padding: 8px 10px;
    -fx-cursor: hand;
    -fx-border-radius: 50%;
}

.window-title {
    -fx-text-fill: #292929;
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 20px;
    -fx-font-weight: 800;
    -fx-padding: 10px 2px;
}